# PyCharm IDE user configuration
.idea/*
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/tasks.xml
.idea/shelf
.idea/modules.xml
*.iml

# temporary excluded
**/*.zip
experiments/edz_transport/TSX_prediction
experiments/edz_transport/samples
experiments/mlmc-modelling-2019/output_2
experiments/mlmc-modelling-2019/*.pdf

# venv
**/venv/**
**/env/**

# Latex
**/*.aux
**/*.log
**/*.bbl
**/*.blg
**/*.out
**/SIEVERT*
**/.~lock*

# python cache
**/__pycache__/*
**/.pytest_cache

# kate swap
*.kate-swp

#
*/output_1/*

mlmc_random_frac/fr*
mlmc_random_frac/_save/*
mlmc_random_frac/pe_fr*
mlmc_random_frac/tst_cfg
fixed-3-frac/output_th

repository-model/env/*
repository-model/tmp/*

metodika_vypoctu_indikatoru/*.aux
metodika_vypoctu_indikatoru/*.bbl
metodika_vypoctu_indikatoru/*.blg
metodika_vypoctu_indikatoru/*.log
metodika_vypoctu_indikatoru/*.out
metodika_vypoctu_indikatoru/main.pdf
