
[submodule "submodules/jsondata"]
	path = submodules/jsondata
	url = git@github.com:GeoMop/JsonData.git
[submodule "submodules/bgem"]
	path = submodules/bgem
	url = git@github.com:GeoMop/bgem.git
[submodule "submodules/bih"]
	path = submodules/bih
	url = git@github.com:flow123d/bih.git
[submodule "submodules/MLMC"]
	path = submodules/MLMC
	url = git@github.com:GeoMop/MLMC.git
[submodule "submodules/redis-cache"]
	path = submodules/redis-cache
	url = git@github.com:jbrezmorf/redis-simple-cache-3k.git
