
[submodule "submodules/jsondata"]
	path = submodules/jsondata
	url = ../../GeoMop/JsonData.git
[submodule "submodules/bgem"]
	path = submodules/bgem
	url = ../../GeoMop/bgem.git
[submodule "submodules/bih"]
	path = submodules/bih
	url = ../../flow123d/bih.git
[submodule "submodules/MLMC"]
	path = submodules/MLMC
	url = ../../GeoMop/MLMC.git
[submodule "submodules/redis-cache"]
	path = submodules/redis-cache
	url = ../../jbrezmorf/redis-simple-cache-3k.git
