[submodule "gmsh-tools"]
	path = gmsh-tools
	url = git@github.com:GeoMop/gmsh-tools.git
[submodule "MLMC"]
	path = MLMC
	url = git@github.com:GeoMop/MLMC.git
[submodule "PyBS"]
	path = PyBS
	url = git@github.com:GeoMop/PyBS.git
