#numba
#scikit-learn
numpy >=1.20.3
pyvista
pyyaml
pyyaml-include
matplotlib
scipy
pytest
tox
tox-gh-actions
importlib-resources

-e ./submodules/bgem
-e ./submodules/bih
-e ./submodules/redis-cache
-e ./submodules/MLMC

